<div style="text-align:center">
  <a routerLink="/productos">Productos</a> - 
  <a routerLink="/acercade">Acerca de ...</a>
  <div style="border: 1px solid red">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="container">
  <h1>Administración de artículos</h1>
    <table class="table table-borderless table-dark"  *ngIf="hayRegistros(); else sinproductos">
      <thead>
      <tr>
        <td>Codigo</td>
        <td>Nombre</td>
        <td>Precio</td>
        <td>Borrar</td>
        <td>Seleccionar</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of lista">
        <td scope="row">{{producto._id}}</td>
        <td>{{producto.descripcion}}</td>
        <td>{{producto.precio}}</td>
        <td><button (click)="eliminar(producto._id)" class="btn btn-danger">Borrar?</button></td>
        <td><button (click)="mostrar(producto._id)" class="btn btn-primary">Seleccionar</button></td>
      </tr>
    </tbody>
    </table>
    <ng-template #sinproductos><p>No hay productos</p></ng-template>
    <div>
      <h1>Datos</h1>
      <div class="form-group">
        Descripcion:<input type="text" class="form-control"  [(ngModel)]="prod.descripcion" />
      </div>
      <div class="form-group">
        Precio:<input type="number" class="form-control"  [(ngModel)]="prod.precio" />
      </div>            
      <p><button (click)="nuevo()" class="btn btn-success" style="margin:5px;">Agregar</button>
      <button (click)="actualizar()" class="btn btn-success">Modificar</button></p>
    </div>
</div>


